<div class="jumbotron">
	<h1 id="jumboHeading">ESSENTIALS</h1>
	<h2 id="jumboSub">Home & Lifestyle</h2>
	<h3 id="headingSub">MEAN Version</h3>
	<a href="#/" type="button" class="btn btn-jumbo btn-lg">Go Back <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a> 
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-2 col-md-offset-5 col-sm-6 col-sm-offset-3 col-xs-12" id="loginBox">
			<h3>Create Account</h3>
			<br>
		<form ng-submit="signup();">
			<div class="form-group">
				<label>Enter your email:</label>
	  			<input ng-model="email" type="email" class="form-control" placeholder="Email" required>
			</div>
			<div class="form-group">
				<label>Enter your password:</label>
	  			<input ng-model="pass" type="password" class="form-control" placeholder="Password" id='password' required>
			</div>
			<div class="form-group">
				<label>Confirm password:</label>
	  			<input ng-model="confirm" type="password" class="form-control" placeholder="Confirm Password" name='passVal' id="valPass" required>
			</div>
			<button type="submit" class="btn btn-submit btn-block">SIGN UP <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></button>
		</form>
		<h4 class="errorMsg" ng-show="mismatch">Please make sure the confirmation field matches your password field.</h4>
		</div>
	</div>
</div>